#todoUl {
  background-color: rgb(241, 171, 171);
  text-align: center;
  padding: 13px;
  list-style: none;
}
#todoInput {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 15px;
}
.todoCompleted:checked + label {
  text-decoration: line-through;
}
.todoDelete {
  background-color: crimson;
  border: darkcyan;
  border: 1px;
}

div > h1 {
  background-color: rgb(238, 178, 157);
  text-align: center;
  margin-left: 500px;
  margin-right: 500px;
  padding-bottom: 12px;
  border-color: crimson;
  border-radius: 6px;
  border-width: 5px;
  padding: 2px;
}
